#root{
    width: 100vw;
    height: 100%;
}
button{
    border-style:none;
    background:none;
    color: inherit;
}






/*Mobile screen dependencies*/
@media(max-width: 600px){
    #contact-fields{
        flex-direction: column!important;
        width: 100%!important;
    }
    /*.spacer{*/
    /*    display: none!important;*/
    /*}*/
    .single-skill{
        width: 90px!important;
        height: 90px!important;
    }
    .single-skill-img{
        width: 50px!important;
        height:50px!important;
    }
    .textarea-spacer{
        display: none!important;
    }
}