#navbar-drawer-toggle {
    display: none;
}
#navbar-menu-noDrawer{
    display: flex;
    height: 100%;
    z-index: 200000;
}
#navbar-menu-noDrawer > ul {
    width: 100%;height: 100%;
    display: flex; justify-content: left; align-items: center; align-content: center;
}
#expand-menu{
    display: flex!important;
}
@media(min-width: 650px) {
    #expand-menu{
        display: flex!important;
    }

}
@media( max-width: 960px){
    #expand-menu{
        display: none!important;
    }
}
@media(max-width: 1280px){
}
@media(max-width: 1400px){

}
@media(max-width: 1920px){

}
/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 30%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/
