#Skills {
  text-align: center;
  background-color: #f1ece9;
}

#Skills .imageWrapper {
  height: 150px;
  display: flex;
  justify-content: center;
}

#Skills .skillBox {
  min-height: 250px;
  display: flex;
}
#Skills .container{
    display: flex;
}
#Skills .image {
  width: 100px;
  height: auto;
  margin: 10px;
}
#Skills .skills-container {
  display: grid; grid-template: auto auto / auto auto auto;
  flex-wrap: wrap;
  margin-inline: 40px;

}
#Skills .skill-card{
  margin: 20px;
}