#Home {
  width: 100vw;
  min-height: calc(100vh - 52px);
}

#Home .decorations {
  z-index: -1;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  #Home .decorations {
    display: none;
  }
}
.home-header{
  animation-name: headerIn;
}
@keyframes headerIn{

}
.sectionOverride {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20%;
  max-height: calc(100vh - 52px);
}
.bio{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
h3{
  margin: 10px;
}
.section{
  display:flex;
  flex-direction: column;
}
#main-h1-container{
  display: flex;
  justify-content: center;
}
#main-h2-container{
  display: flex;
  justify-content: center;
}
#main-h2-container h2{
  font-size: large;
  font-weight: bold;
}
