body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
 #root{
   background: rgb(225, 225, 225);
   width: 100%;
   height: 100%;

 }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media(max-width: 650px){
  #Home{
    display:flex;
    flex-direction: column;
  }
}
h1{
    margin: 10px 0;
}